<div class="card">
  <div class="card-header">
    <h2 class="title">Flight Search</h2>
  </div>

  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="from">From</label>
        <input name="from" class="form-control" type="text" [(ngModel)]="from" id="from" />
      </div>

      <div class="form-group">
        <label for="to">To</label>
        <input name="to" class="form-control" [type]="'text'" [(ngModel)]="to" id="to" />
      </div>

      <div class="form-group">
        <button class="btn btn-default" [disabled]="!from || !to" (click)="searchFlight()">Search</button>
      </div>
    </form>
  </div>
</div>

@if (flights.length) {
  <div class="row row-cols-4">
    @for (flight of flights; track flight.id) {
      <div class="p-2">
        <app-flight-card
          (selectionChange)="onFlightSelectionChange(flight.id, $event)"
          [flight]="flight"
          [selected]="basket[flight.id]"
        ></app-flight-card>
      </div>
    }
  </div>
}

<app-flight-typeahead></app-flight-typeahead>

<div class="pt-2">
  @if (!withDetail) {
    <button class="btn btn-default" (click)="withDetail = true">Show Flight Detail</button>
  } @else {
    <button class="btn btn-default" (click)="withDetail = false">Hide Flight Detail</button>
  }

  <div>
    <input type="text" [formControl]="flightId" />
  </div>

  @if (withDetail) {
    <app-flight-detail [flightId$]="flightId.valueChanges"></app-flight-detail>
  }
</div>
